header {
	background-color: #850101;
	color: white;
	text-align: center;
	padding: 30;
}
header h1 {
	margin: 0;
}



nav {
  	background-color: #333;
  	overflow: hidden; 
}

ul.navigation {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

ul.navigation li {
  	float: left;
}

ul.navigation li a {
  	display: block;
  	color: white;
  	text-decoration: none;
  	padding: 14px 20px;
}

ul.navigation li a:hover {
  	background-color:#575757;
}

nav::after {
  	content: "";
  	display: block;
  	clear: both;
}




.full {
  	position: relative; 
  	overflow: hidden;   
}



.sidebar::after {
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 25%;  
  	height: 100%;
  	background-color: rgba(244, 244, 244, 0.8);
  	z-index: -1; 
}

.sidebar {
  	top: 150px;
  	float: left;
  	width: 25%;
  	padding: 15px;
  	box-sizing: border-box;
  	min-height: 100%;
}

.sidebar h2 {
  	text-align: center;
  	color: #b22222;
}




.facts {
  	background: #F9F6EE;
  	margin: 10px 0;
  	padding: 10px;
  	border-radius: 8px;
  	position: relative;
  	transition: background 0.3s ease;
  	cursor: pointer;
  	overflow: hidden;
}

.facts h3 {
  	margin: 0;
  	color: #333;
  	font-size: 1.1em;
}

.facts p {
  	display: none;
  	margin-top: 10px;
  	font-size: 0.9em;
  	color: #444;
}

.facts:hover {
 	 background: #ffe4e1;
}

.facts:hover p {
  	display: block;
}




.main-content {
  	float: left;
  	width: 75%;
  	padding: 20px;
  	box-sizing: border-box;
  	background-color: rgba(255, 255, 255, 0.8);;
  	min-height: 500px;
  	font-size: 17;
}

.main-content h2 {
  	color: #b22222;
}

.main-content img {
  	max-width: 100%;
  	height: auto;
  	border-radius: 10px;
  	margin-top: 10px;
}


@media screen and (max-width: 768px) {
  .sidebar, .main-content {
    float: none;
    width: 100%;
  }

  ul.navigation li {
    	float: none;
    	text-align: center;
  }

  ul.navigation li a {
    	display: block;
    	padding: 10px;
  }
}

body {
  	background: url("images/turr.jpg") no-repeat center center fixed;
  	background-size: cover;
  	margin: 0;
  	color: #222;
  	font size: 17;
}

.img {
  	float: right;
  	width: 40%;
  	max-width: 350px;
  	margin: 10px 0 10px 20px;
  	border-radius: 10px;
  	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.image-row {
  	overflow: hidden; 
  	text-align: center; 
  	margin-top: 20px;
}


.images img {
  	float: left;            
  	width: 30%;            
  	margin: 0 1.64%;         
}

footer {
  	clear: both; 
  	background-color:#850101 ; 
  	color: white;
  	text-align: center;
  	padding: 10px 0;
  	font-size: 0.9em;
}
